*{margin: 0; padding: o;}

.content{
    background-color: #FFF8DC;
    padding: 20px;
    height: 400px;
    width: 80%;
}

.content .produk img{
    max-width: 100px;
    text-align: center;
	margin: 0 10px;
	background: #00008B;
	color: #FFF8DC;
	padding: 5px;
}