*{margin: 0; padding: 0;}

.header{
  background-color: black;
}

.header .container{
	display: flex;
	width: 1300px;
	margin: auto;
}

.header .container .logo{
	margin-right: 50px;
}

.header .container .logo img{
	width: 80px;
	margin-top: 10px;
}

.header .container .menu{
	flex-grow: 1;
	margin-top: 10px;
}

.header .container .menu ul{
	list-style: none;
	display: flex;
}

.header .container .menu ul li{
	flex-grow: 1;
	text-align: center;
	line-height: 80px;
}

.header .container .menu ul li a{
	color: #00FA9A;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

.header .container .menu ul li a:hover{
	background: #F4A460;
	color: #800080;
	display: block;
}