@CHARSET "UTF-8";

/* layer popup container */
.layerpopup_container { display:table;width: 100%;height:100%;position:fixed;z-index: 9999;top:0px;left:0px; }
.layerpopup_wrap { display:table-row;vertical-align:middle;text-align:center; }
.layerpopup_content { display:table-cell;vertical-align:middle;text-align:left; }

/* 절대 지우지 마시오!!!!!!!!! 공통레이어 안뜸!!!!!!!!! */